<div class="admin-dashboard-container">
  <h1>Panel de Administración</h1>

  <div class="button-group">
    <button class="action-button" (click)="toggleUserManagement()">
      Gestión de Usuarios
    </button>
    <button class="action-button" (click)="toggleCharacterManagement()">
      Gestión de Personajes
    </button>
  </div>

  <div class="user-management" *ngIf="showUserManagement">
    <h2>Gestión de Usuarios</h2>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Puntos</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.idUser }}</td>
            <td>{{ user.nameUser }}</td>
            <td>{{ user.mailUser }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.pointsUser }}</td>
            <td class="table-actions">
              <button class="edit-button" (click)="editUser(user)">Editar</button>
              <button class="delete-button" (click)="deleteUser(user)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="character-management" *ngIf="showCharacterManagement">
    <h2>Gestión de Personajes</h2>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Universo</th>
            <th>Salud</th>
            <th>Ataque</th>
            <th>Defensa</th>
            <th>Velocidad</th>
            <th>Resistencia</th>
            <th>Inteligencia</th>
            <th>Especial</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of characters">
            <td>{{ character.idCharacter }}</td>
            <td>{{ character.nameCharacter }}</td>
            <td>{{ character.categoryCharacter }}</td>
            <td>{{ character.universeCharacter }}</td>
            <td>{{ character.healthCharacter }}</td>
            <td>{{ character.attackCharacter }}</td>
            <td>{{ character.defenseCharacter }}</td>
            <td>{{ character.speedCharacter }}</td>
            <td>{{ character.staminaCharacter }}</td>
            <td>{{ character.intelligenceCharacter }}</td>
            <td>{{ character.specialCharacter }}</td>
            <td class="table-actions">
              <button class="edit-button" (click)="editCharacter(character)">Editar</button>
              <button class="delete-button" (click)="deleteCharacter(character)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
