<div class="admin-dashboard-container">
  <h1>Admin Dashboard</h1>
  <div class="button-group">
    <button class="action-button" (click)="navigateToUserManagement()">Gestionar Usuarios</button>
    <button class="action-button" (click)="navigateToCharacterManagement()">Gestionar Personajes</button>
  </div>

  <!-- Componente de gestión de usuarios -->
  <div *ngIf="isUserManagementVisible" class="user-management">
    <h2>Gestión de Usuario</h2>
    <table class="styled-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.idUser}}</td>
        <td>{{user.nameUser}}</td>
        <td>{{user.mailUser}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Componente de gestión de personajes -->
  <div *ngIf="isCharacterManagementVisible" class="character-management">
    <app-character-management></app-character-management>
  </div>
</div>
