<nav>
  <ul>
    <li><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/rankings">Rankings</a></li>
    <li><a routerLink="/sign-up">Sign Up</a></li>
    <li><a routerLink="/terms">Términos y Condiciones</a></li>
    <li><a routerLink="/about">About Us</a></li>
    <li><a routerLink="/profile/:id">Perfil</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer>
  <div class="social-icons">
    <a href="https://www.facebook.com" target="_blank">Facebook</a>
    <a href="https://www.twitter.com" target="_blank">Twitter</a>
    <a href="https://www.instagram.com" target="_blank">Instagram</a>
  </div>
  <p>&copy; 2024 KuroKami. Todos los derechos reservados.</p>
</footer>
