/* Barra de navegación */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul p {
  padding: 14px 16px;
  color: white;
  text-align: center;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #575757;
  color: #00FF7F;
}

/* Contenedor principal */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #ff512f, #dd2476); /* Fondo degradado */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Pie de página */
footer {
  background: #333;
  color: #FFF;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: relative; /* Parte del flujo del documento */
  flex-shrink: 0;
  z-index: 1; /* Asegura que el footer esté en la parte superior */
}

footer .social-icons {
  margin: 10px 0;
}

footer .social-icons a {
  margin: 0 10px;
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

footer .social-icons a:hover {
  color: #00FF7F;
}
