<div class="signup-container">
  <div class="sign-up-form">
    <h2>Registro</h2>
    <form (ngSubmit)="register()">
      <div class="form-group">
        <label for="nameUser">Nombre</label>
        <input type="text" id="nameUser" [(ngModel)]="user.nameUser" name="nameUser" required>
      </div>
      <div class="form-group">
        <label for="mailUser">Correo</label>
        <input type="email" id="mailUser" [(ngModel)]="user.mailUser" name="mailUser" required>
      </div>
      <div class="form-group">
        <label for="passwordHash">Contraseña</label>
        <input type="password" id="passwordHash" [(ngModel)]="user.passwordHash" name="passwordHash" required>
      </div>
      <button type="submit">Registrar</button>
    </form>
  </div>
</div>
