.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #ff512f, #dd2476);
}

.login-form {
  max-width: 400px;
  width: 100%;
  padding: 32px 24px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #CCCCCC;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.login-form h1, .login-form h2 {
  color: #00FF7F;
}

.login-form p {
  color: #FF69B4;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  color: #CCCCCC;
  font-weight: 600;
}

.login-form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #575757;
  border-radius: 5px;
  background: #2b2b2b;
  color: #CCCCCC;
  font-size: 16px;
  box-sizing: border-box;
  box-shadow: none;
}

.login-form input:focus {
  border-color: #00FF7F;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #FF69B4;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.login-form button:hover {
  background: #ff85b2;
}
