<div class="character-list-container max-w-3xl mx-auto p-4 bg-white rounded-lg shadow-lg mt-8">
  <h2 class="text-2xl font-bold mb-4 text-blue-900">Listado de Personajes</h2>
  <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <li *ngFor="let character of characters" class="flex gap-4 items-center bg-blue-50 rounded-lg p-3 shadow hover:scale-105 transition-transform">
      <img [src]="character.imageUrl" alt="{{ character.nameCharacter }}" class="w-20 h-20 object-cover rounded-full border-2 border-blue-300 shadow-md">
      <div class="character-details text-sm text-gray-700">
        <p><span class="font-semibold text-blue-800">Nombre:</span> {{ character.nameCharacter }}</p>
        <p><span class="font-semibold">Salud:</span> {{ character.healthCharacter }}</p>
        <p><span class="font-semibold">Ataque:</span> {{ character.attackCharacter }}</p>
        <p><span class="font-semibold">Defensa:</span> {{ character.defenseCharacter }}</p>
        <p><span class="font-semibold">Velocidad:</span> {{ character.speedCharacter }}</p>
        <p><span class="font-semibold">Resistencia:</span> {{ character.staminaCharacter }}</p>
        <p><span class="font-semibold">Inteligencia:</span> {{ character.intelligenceCharacter }}</p>
        <p><span class="font-semibold">Especial:</span> {{ character.specialCharacter }}</p>
        <p><span class="font-semibold">Categoría:</span> {{ character.categoryCharacter }}</p>
        <p><span class="font-semibold">Universo:</span> {{ character.universeCharacter }}</p>
      </div>
    </li>
  </ul>
</div>
