.user-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #ff512f, #dd2476);
}

.user-profile-box {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.user-profile-box h2 {
  text-align: center;
  color: #00FF7F;
  margin-bottom: 20px;
}

.profile-details p {
  font-size: 18px;
  line-height: 1.5;
  margin: 10px 0;
  color: white;
}

.profile-details strong {
  color: #00FF7F;
}

@media (max-width: 768px) {
  .user-profile-box {
    padding: 15px;
  }

  .profile-details p {
    font-size: 16px;
  }
}
